* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    border-bottom: 1px solid #ececec;
}

.info-container a{
    color: #7E7E7E;
}

.header-info ul{
    display: flex;
    width: 400%;
    align-items: center;
}

.header-info li {
    margin-right: 20px;
    list-style: none;
}

.header-info a {
    text-decoration: none;
    transition: .3s;
}

.header-info a:hover {
    color: #212529;
}

.header-right p {
    color: #7E7E7E;
}

.header-right span {
    color: #3BB77E;
    font-weight: 500;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right a {
    text-decoration: none;
    padding-left: 20px;
    transition: .3s;
}

.header-right a:hover {
    color: #212529;
}

.dropdown {
    width: 10px;
}


/* ------------ */

.middle-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3rem;
    border-bottom: 1px solid #ececec;
}

.form {
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    height: 40px;
    border-radius: 3px;
    transition: 0.3s;
    margin-right: 20px;
}

.form:hover {
    transform: translate(0, -5px);
}

.form img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.form select {
    border: none;
    margin-right: 10px;
    color: #3BB77E;
}

.form select:focus {
    outline: none;
}

.middle-header-right {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #BCE3C9;
    border-radius: 4px;
    width: 600px;
    height: 55px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

.search span {
    padding-right: 8px;
    line-height: 50px;
    font-size: 14px;
    color: #253D4E;
    font-weight: 500;
}

.search input {
    border: none;
}

.search input:focus {
    outline: none;
}

.search-img {
    width: 20px;
}

.header-action {
    display: flex;
    width: 52%;
    align-items: center;
    justify-content: space-between;
}

.header-action-icon {
    display: flex;
    align-items: center;
}

.header-action-icon span {
    margin-left: 5px;
    font-size: 16px;
    color: #7E7E7E;
    cursor: pointer;
}

/* ------------------------ */

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3rem;
    border-bottom: 1px solid #ececec;
}

.main-categories {
    color: #fff;
    line-height: 45px;
    background: #3BB77E;
    padding: 0 30px;
    border-radius: 5px;
    transition: .3s;
}

.main-categories:hover {
    background: #36ac75;
}

.main-categories span {
    font-size: 17px;
    line-height: 35px;
    font-weight: 500;
}

.main-categories a {
    text-decoration: none;
    color: #fff;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #253D4E;
    transition: .3s;
}

.menu a:hover {
    color: #3BB77E;
}

.icon-hot {
    margin-right: 7px;
}

.hotline {
    display: flex;
}

.hotline p {
    color: #3BB77E;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.hotline span {
    font-weight: 500;
    font-size: 12px;
    color: #7E7E7E;
    display: block;
    letter-spacing: 0.8px;
}


/* ----------------------- */

.title{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 30px 3rem;
}

.title h3{
    font-weight: 700;
    font-size: 32px;
    margin-right: 30px;
    color: #253D4E;
    line-height: 1.2;
}

.categories {
    display: flex;
}

.categories li {
    list-style: none;
    padding: 0 15px;
}

.categories a {
    text-decoration: none;
    color: #253D4E;
    font-size: 17px;
    transition: .3s;
}

.categories a:hover {
    color: #36ac75;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product {
    width: 17%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin-bottom: 40px;
}

.sort {
    color: #adadad;
    font-size: 12px;
    text-decoration: none;
    transition: .3s;
}

.sort:hover {
    color: #3BB77E;
}

.product h2 a{
    color: #253D4E;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}

.span a{
    text-decoration: none;
    color: #3BB77E;
}

.span {
    color: #adadad;
    font-size: 14px;
    margin-top: 5px;
}

.price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: 13px;
}

.product-price span {
    font-size: 18px;
    font-weight: bold;
    color: #3BB77E;
}

.product-price del {
    font-size: 14px;
    color: #adadad;
    margin: 0 0 0 7px;
}

.add-cart {
    display: flex;
    align-items: center;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    background-color: #DEF9EC;
    font-size: 14px;
    font-weight: 700;
}

.add-cart img {
    width: 15px;
}

.add-cart a {
    text-decoration: none;
    color: #36ac75;
    margin-left: 5px;
}